# Compiled Object files
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib

# Executables
*.exe
./examples/simple-calc

# Code coverage
*.lst

/rave
example
llvm.bc
source/old.ast.d

*.out
*.ll
*.o
*.be
bin
a
./a
examples/first
examples/hello_world
examples/io/test_input
examples/io/test_input2
examples/io/print
examples/math/calculator
examples/math/sum_of_input
examples/multithread/thread_test
examples/network/socket_server
examples/network/http_client
examples/network/http_server
examples/time/test_time
examples/memory/defer
examples/memory/null_access
examples/math/div_by_zero
examples/simd/sse

# Benchmarks
benchmarks/c/nqueen
benchmarks/rave/nqueen

std/*.o
src/*.o
src/parser/*.o
src/parser/nodes/*.o
src/lexer/*.o
examples/*.o
.lite_project.lua

*.log
*.def
dcallgrind
d-profile-viewer
*.pdb

options.json

LLVM-15
LLVM

*.bin
*.a
