# Using the D template

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html

# Code coverage
*.lst

rave
llvm.bc
source/old.ast.d

*.out
*.ll
*.be
bin
