# Compiled Object files
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib

# Executables
*.exe
./examples/simple-calc

# DUB
.dub
docs.json
__dummy.html

# Code coverage
*.lst

rave
example
llvm.bc
source/old.ast.d

*.out
*.ll
*.o
*.be
bin
./first
./second
first
second
a
./a

std/*.o
src/*.o
src/parser/*.o
src/parser/nodes/*.o
src/lexer/*.o
examples/*.o
.lite_project.lua

*.log
*.def
dcallgrind
d-profile-viewer
*.pdb

options.json

LLVM-15